:root {
  --enqueue-primary-linear-color: linear-gradient(
    104.08deg,
    #178139 8.7%,
    #1c933c 81.19%
  );
  --enqueue-primary-color: #18853a;
  --enqueue-heading-font: "DM Serif Display", serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  /* border: 1px solid; */
}

/***** Utility Styles Starts Here *****/
.h-screen {
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.text-xl {
  font-size: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-base {
  font-size: 1rem;
}

.font-weight-medium {
  font-weight: 500;
}

.heading-font {
  font-family: var(--enqueue-heading-font);
}
/***** Utility Styles Ends Here *****/

.nav {
  height: 100px;
}

.nav--sticky {
  background-color: var(--enqueue-primary-color);
}

.nav-link--has-bg {
  padding: 13px 25px;
}

.banner {
  background: var(--enqueue-primary-linear-color);
  height: 120vh;
}

.banner__link {
  padding: 13px 30px;
}

.banner__title {
  font-family: var(--enqueue-heading-font);
}

.banner__image {
  top: 450px;
  height: 300px;
}

.bg-enqueue-primary-color {
  background-color: var(--enqueue-primary-color);
}

.text-enqueue-primary-color {
  color: var(--enqueue-primary-color);
}

.alumini {
  margin-bottom: 100px;
}

.alumini__picture {
  left: 50%;
  transform: translateX(-50%);
  top: 90px;
}

.alumini__content {
  margin-top: 450px !important;
}

.alumini__actions {
  margin-top: 100px;
}

.curriculum {
  height: 1300px;
}

.curriculum__details {
  right: 0;
  top: 500px;
}

.curriculum__details-box {
  background: #f4eee8;
  box-shadow: -4px 4px 20px rgba(29, 43, 54, 0.08);
  border-radius: 5px;
  min-height: 500px;
}

.tutor__picture {
  right: 50%;
  transform: translateX(50%);
  top: 130px;
}

.footer {
  background: #222222;
}

.slider-circle--active {
  height: 12px;
  width: 12px;
}

.slider-circle {
  height: 8px;
  width: 8px;
  background: rgba(24, 34, 143, 0.6);
}

.slider-circle:hover {
  height: 12px;
  width: 12px;
  background: var(--enqueue-primary-color);
  transition: all 0.1s ease-in;
}

.slider-visible {
  display: unset;
  animation: fade 500ms ease-in-out;
}

@keyframes fade {
  0% {
    transform: translatex(-100%);
  }
  100% {
    transform: translatex(0);
  }
}

@media screen and (min-width: 768px) {
  .banner {
    background: url(../image/banner-bg.svg) no-repeat;
    background-size: cover;
    padding-top: 100px;
    height: 100vh;
  }

  .banner__image {
    top: unset;
    height: 500px;
  }

  .h-md-screen {
    height: 100vh;
  }

  .alumini {
    margin-bottom: unset;
  }

  .alumini__picture {
    left: 100px;
    transform: unset;
    top: 100px;
  }

  .alumini__content {
    margin-top: unset !important;
  }

  .alumini__actions {
    margin-top: 150px;
  }

  .curriculum {
    height: 700px;
  }

  .curriculum__details {
    top: unset;
  }

  .tutor__picture {
    right: 100px;
    top: 100px;
    transform: unset;
  }
}
